<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.assistant.adapter.net">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_extension"
        android:label="Splendor Net Adapter"
        android:hardwareAccelerated="true">
        
        <service
            android:name=".NetAdapterService"
            android:exported="true"
            android:process=":kernel_net"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                      android:value="Asynchronous data transmission balancing and routing telemetry processing."/>
        </service>
    </application>
</manifest>
